*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(10, 238, 10);
    width: 100%;
    height: 80px;
    color: black;
}
.navbar h1{
    padding-top: 15px;
    padding-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box-container{
    width: 25%;
    height: 34%;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    text-indent: 2px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    padding-right: 10px;
    display:inline-block;
    vertical-align: top;
}
.box-container h2{
    color:  rgb(10, 238, 10);
}
.box-container button{
    border: none;
    background-color:rgb(10, 238, 10);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.box-container button:hover{
    font-size: 15px;
    border-radius: 15px;
}
#btn{
    background-color: rgb(10, 238, 10);
    color: black;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.2s ease-in-out;
    border: none;
}
#btn:hover{
    border: 2px solid black;
    font-size: 35px;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    display: none;
}
.bookform{
    width: 35%;
    height: 45%;
    background-color:rgb(10, 238, 10) ;
    padding: 20px;
    margin-top: 100px;
    margin-left: 33%;
    border-radius: 20px;
    display: none;
}
#book-name{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    width: 80%;
    height: 50px;

}
#author{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    width: 80%;
    height: 50px;
}
#description{
     background: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    width: 80%;
    height: 50px;
}
.book-add{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;
}
.book-cancel{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;

}
